---
pagination:
  data: digests.github
  size: 1
  alias: day
permalink: "/{{ day.date }}/github/"
layout: base.njk
eleventyComputed:
  title: "{{ day.date }} GitHub | briefing"
---
{% set current = "github" %}
{% include "daynav.njk" %}
<article class="digest">
  {{ day.github.html | safe }}
</article>
